@import "../../shared/variables.scss";

.mainContent {
    @include flex_center;
    @include width_height(100%, 100vh);
}

h1 {
    position: absolute;
    top: 2%;
    left: 3%;
    color: $main_color;
}

h2 {
    margin: 0 auto 0 0;
    color: white;
}

form {
    @include column_center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 40px;
    width: 300px;

    button {
        @include button_hover;
        color: white;
        background: $main_color;
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
}

.inputContainer {
    @include column_center;
    gap: 10px;
    width: 100%;

    input {
        padding: 10px;
        width: 91%;
    }
}

section {
    margin-right: auto;

    input {
        margin: 0;
    }

    label {
        color: #b3b3b3;
        margin-left: 5px;
    }
}

.signupContainer {
    margin-right: auto;
    color: #b3b3b3;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}