@import "../../shared/variables.scss";

h1 {
    position: absolute;
    top: 2%;
    left: 3%;
    color: $main_color;
}

h2 {
    margin: 0 auto 0 0;
    color: white;
}

section {
    margin-right: auto;

    input {
        margin: 0;
    }

    label {
        color: #b3b3b3;
        margin-left: 5px;
    }
}

.signupLinkContainer {
    margin-right: auto;
    color: #b3b3b3;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}