<h1>Videoflix</h1>

<div class="loginSignupMainContent">
    <form class="loginSignupForm">
        <h2>Login</h2>
        <div class="inputContainer">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </div>
        <button>Login</button>
        <section>
            <input type="checkbox" id="rememberMe" formControlName="rememberMe">
            <label for="rememberMe" class="">Remember me</label >
        </section>
        <div class="signupLinkContainer">
            New at Netflix?
            <a routerLink="/signup">Sign up</a>
        </div>
    </form>
</div>