<div class="signupMainContainer">
    <div class="signupHeader">
        <h1>Videoflix</h1>
        <div class="loginLinkContainer">
            You already have an account?
            <button routerLink="/login">Login</button>
        </div>
    </div>

    <!-- Sign up form -->
    <form class="loginSignupForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h2>Signup</h2>
        <div class="inputContainer">

            <!-- Username section -->
            <input type="text" placeholder="Username" formControlName="username">
            <div *ngIf="submitted && signUpForm.get('username')?.errors?.['required']" class="warning">
                Please enter your firstname.
            </div>

            <!-- Email section -->
            <input type="email" placeholder="Email" formControlName="email">
            <div *ngIf="submitted && signUpForm.get('email')?.errors?.['required']" class="warning">
                Please enter your email.
            </div>

            <!-- Password section -->
            <input type="password" placeholder="Password" formControlName="password">
            <div *ngIf="submitted && signUpForm.get('password')?.errors?.['required']" class="warning">
                Please enter a password.
            </div>

            <!-- Confirm passsword section -->
            <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
            <div class="warning" *ngIf="signUpForm.errors?.['notSame'] && signUpForm.get('confirmPassword')?.touched">Passwords do not
                match.</div>
        </div>
        <button [disabled]="isButtonDisabled">Signup</button>
        <span *ngIf="signedUpInfo" class="success">Signed up succesfully </span>
    </form>
</div>